.our-approach {
  max-height: 130px
}

@media (max-width: 575.98px) {
  .xs-12 {
    flex-basis: 100%;
  }

  .our-approach {
    max-height: none;
  }
}

.dark-box {
  background-color: rgba(16, 16, 16, .975);
  padding: 48px 32px;
}

