body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace, serif;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

.background {

	background: rgba(48,196,126, .95);
	background: linear-gradient(90deg, rgba(44,72,69,.95) 0%, /*rgba(45,103,84,.95) 33%, rgba(46,134,98,.95) 66%,*/rgba(48,196,126,.95) 50%, rgba(44,72,69,.95) 100%);

}

a, button, input, select {
	pointer-events: auto;
}

#background1 {

	text-align: center;
	color: white;
}
.textoverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black
}

canvas {
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
}
