.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.heading-alpha {
  font-size: 80px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  /*font-family: Metropolis, sans-serif;*/
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 52px;
  line-height: 1.15;
  font-weight: 700;
}

h2 {
  margin-top: 0;
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
}

h3 {
  margin-top: 0;
  font-size: 23px;
  line-height: 1.35;
  font-weight: 700;
}

h4 {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

img {
  display: inline-block;
  max-width: 100%;
}

strong {
  font-weight: bold;
}

.container {
  @apply z-10 flex flex-wrap lg:flex-nowrap w-full max-w-7xl mx-auto
}

.container.position-relative {
  z-index: 6;
}

.container.is-wide {
  max-width: 1400px;
}

.col {
  margin-bottom: 48px;
  padding-right: 24px;
  padding-left: 24px;
}

.col.lg-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
}

.col.lg-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}


.col.lg-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 33.33%;
  -ms-flex: 0 33.33%;
  flex: 0 33.33%;
}

.col.lg-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 66.6666%;
  -ms-flex: 0 66.6666%;
  flex: 0 66.6666%;
}

.col.lg-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 58.333%;
  -ms-flex: 0 58.333%;
  flex: 0 58.333%;
}


.col.lg-5 {
  -webkit-flex-basis: 41.6666%;
  -ms-flex-preferred-size: 41.6666%;
  flex-basis: 41.6666%;
}

.col.lg-1 {
  -webkit-flex-basis: 8.33%;
  -ms-flex-preferred-size: 8.33%;
  flex-basis: 8.33%;
}

.col.no-margin-bottom {
  margin-bottom: 0;
}


.pre-title {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.36);
  font-size: 14px;
  font-weight: 700;
}

.text-medium {
  font-size: 20px;
}

.section {
  @apply py-16
}



.section.is-header.header-image {
  background-position: 50% 50%, 0;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}


.legend {
  display: inline-block;
  margin: 0;
  background-color: #feffc0;
  font-style: italic;
}

.margin-bottom {
  margin-bottom: 24px;
}

.margin-bottom.is-bold {
  font-weight: 700;
}

.no-padding-trbl {
  padding: 0;
}

.no-margin-trbl {
  margin: 0;
}

.no-padding-lr {
  padding-right: 0;
  padding-left: 0;
}

.padding-left {
  padding-left: 24px;
}

.padding-right {
  padding-right: 24px;
}

.button-primary {
  min-width: inherit;
  width: 100%;
  max-width: inherit;

  display: inline-block;
  padding: 16px 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  /*border-radius: 40px;*/
  background-color: #30C47E;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-primary.is-small {
  min-width: 140px;
  padding: 12px 24px;
  background-color: #30C47E;
  font-size: 11px;
}

.button-primary.is-small.order-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.button-primary.is-dark {
  background-color: #333;
}


.button-primary.is-floating {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}

.button-primary.is-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  min-width: 0;
  padding: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.button-primary-text {
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
}

.button-primary-text.for-hover {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto;
  display: none;
  width: 100%;
}

.round-border {
  border-radius: 16px;
}

.col.lg-2 {
  -webkit-flex-basis: 16.66%;
  -ms-flex-preferred-size: 16.66%;
  flex-basis: 16.66%;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logotype {
  margin-bottom: 0;
  font-size: 20px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.brand.order-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.extra-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.extra-menu-link {
  color: #333;
}

.logo-image {
  margin-right: 8px;
  color: #30C47E;
}

.no-padding-left {
  padding-left: 0;
}

.menu-and-logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-and-logo-container.order-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.fa {
  font-family: 'Fa solid 900', sans-serif;
  font-size: 12px;
}

.fa.fa-link {
  color: #30C47E;
}

.cta-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #30C47E;
  font-weight: 400;
}

.cta-link.text-align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.padding-double {
  padding: 48px;
}

.text-xlarge {
  font-size: 32px;
  line-height: 1.25;
}

.text-xlarge.font-weight-light {
  font-weight: 300;
}

.flexv-justify-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.position-absolute {
  position: absolute;
}

.position-absolute.h100.pos-full {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.position-absolute.h100.pos-full.bg-surabaya {
  background-image: url('https://via.placeholder.com/1000x600.png?text=IMAGE');
  background-position: 0 100%;
  background-size: 4000px;
  background-repeat: no-repeat;
}

.bg-color {
  background-color: #30C47E;
}

.bg-divider {
  position: absolute;
  left: 50%;
  top: 0;
  right: auto;
  bottom: auto;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 1000vh;
  background-color: #ffe3ca;
  -webkit-transform: translate(150px, 0);
  -ms-transform: translate(150px, 0);
  transform: translate(150px, 0);
}

.bg-divider.style1 {
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50px, 0);
  -ms-transform: translate(50px, 0);
  transform: translate(50px, 0);
}

.flexv-justify-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flexv-space-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexv-space-between.h100 {
  height: 100%;
}

.align-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.form-input-text {
  height: 48px;
  margin-bottom: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 5px;
}

.form-input-text:focus {
  border-color: #30C47E;
}

.form-input-text.is-grey {
  background-color: #f1f1f1;
}

.form-input-text.style1 {
  padding-left: 0;
  border-style: none none solid;
  border-bottom-width: 2px;
  border-bottom-color: hsla(0, 0%, 60.7%, 0.7);
  border-radius: 0;
  font-size: 20px;
}

.form-input-text.style1:focus {
  border-bottom: 2px solid #30C47E;
}

.form-input-text.style1::-webkit-input-placeholder {
  font-size: 16px;
}

.form-input-text.style1:-ms-input-placeholder {
  font-size: 16px;
}

.form-input-text.style1::-ms-input-placeholder {
  font-size: 16px;
}

.form-input-text.style1::placeholder {
  font-size: 16px;
}

.form-input-text.textarea {
  height: 200px;
}

.form-input-text.style2 {
  border-style: solid;
  border-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.55);
}

.form-input-text.style3 {
  height: 56px;
  margin-bottom: 8px;
  padding-right: 200px;
  padding-left: 32px;
  border-style: none;
  border-radius: 40px;
  box-shadow: 0 20px 64px 0 rgba(0, 0, 0, 0.24);
}

.form-label {
  font-weight: 600;
}

.form-checkbox {
  margin-right: 16px;
  margin-bottom: 32px;
  border: 1px none #000;
  font-size: 16px;
}

.float-right {
  float: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.block-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.block-centered.img {
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-quad {
  margin-bottom: 96px;
}

.flexh-justify-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.no-padding-right {
  padding-right: 0;
}


.fa-brand {
  font-family: 'Fa brands 400', sans-serif;
}

.padding-right-small {
  padding-right: 8px;
}

.text-small {
  font-size: 14px;
}

.text-small.is-bold {
  font-weight: 600;
}

.hr {
  height: 1px;
  background-color: rgba(51, 51, 51, 0.2);
}

.hr.is-light {
  background-color: #dadada;
}

.hr.is-on-white {
  background-color: rgba(71, 71, 71, 0.18);
}

.hr.is-short {
  width: 32px;
  height: 4px;
}



.size-h1-title {
  font-size: 53px;
  line-height: 1.3;
  font-weight: 700;
}

.size-h2-title {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
}

.size-h3-title {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 600;
}

.size-h1 {
  font-size: 52px;
  line-height: 1.15;
  font-weight: 700;
}

.size-h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
}

.size-h3 {
  font-size: 23px;
  line-height: 1.3;
  font-weight: 700;
}

.offcanvas-menu-list {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #333;
}

.offcanvas-menu-item {
  display: block;
  font-size: 52px;
  font-weight: 900;
}

.offcanvas-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.22);
}

.c-pricing {
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.07);
}

.c-pricing.h100 {
  height: 100%;
}

.tab-link {
  margin-right: 8px;
  margin-left: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  background-color: hsla(0, 0%, 78.4%, 0);
}

.tab-link.w--current {
  margin-right: 8px;
  margin-left: 8px;
  border-bottom: 2px solid #30C47E;
  background-color: hsla(0, 0%, 78.4%, 0);
  color: #30C47E;
}

.c-pricing-price2 {
  font-size: 52px;
  font-weight: 900;
}

.h100 {
  height: 100%;
}

.tab-link-block {
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.17);
  background-color: hsla(0, 0%, 86.7%, 0);
}

.tab-link-block.w--current {
  border-style: none;
  background-color: #30C47E;
  color: #fff;
}

.tab-link-block.is-last-tab {
  border-style: solid solid solid none;
  border-width: 1px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tab-link-block.is-first-tab {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.is-bold {
  font-weight: 700;
}

.grid-pricing-1 {
  overflow: scroll;
  min-width: 1150px;
  grid-auto-flow: column;
  grid-column-gap: 0;
  grid-row-gap: 27px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.create-grid-space {
  display: block;
  width: 100%;
  padding-right: 24px;
  padding-bottom: 21px;
  padding-left: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.padding {
  padding: 24px;
}

.success-message {
  background-color: #adffbf;
}

.c-team1__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 200px;
  -ms-flex: 0 200px;
  flex: 0 200px;
}

.c-team1__name {
  position: absolute;
  left: auto;
  top: auto;
  right: 0;
  bottom: 48px;
  font-size: 52px;
  line-height: 1.15;
}

.c-team1__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-team4 {
  position: relative;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.c-team4.bg-accent.is-first {
  padding-top: 250px;
}

.quote {
  position: static;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  padding: 24px 80px;
  border-left-style: none;
  font-size: 36px;
  line-height: 1.18;
  font-weight: 100;
}

.quote.style2 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 24px;
  font-weight: 400;
}

.quote.style3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  font-weight: 400;
}

.quote.style5 {
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}


.lg-margin-right {
  margin-right: 24px;
}

.c-grid1 {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: minmax(255px, 1fr) minmax(255px, 1fr);
  grid-template-rows: minmax(255px, 1fr) minmax(255px, 1fr);
}

.c-grid1.no-gap {
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.dummy-image1 {
  background-image: url('https://via.placeholder.com/1000x600.png?text=IMAGE');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-grid2 {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(354px, 1fr) minmax(354px, 1fr);
  grid-template-rows: minmax(354px, 1fr) minmax(354px, 1fr);
}

.c-grid3 {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: minmax(255px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr);
  grid-template-rows: minmax(255px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr);
}

.margin-top {
  margin-top: 32px;
}

.margin-top-negative {
  margin-top: -16px;
}

.c-contact1 {
  position: relative;
  left: 33.6vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}


.fa-regular {
  font-family: 'Fa 400', sans-serif;
  color: #fff;
  font-size: 18px;
}

.blob-dummy {
  position: absolute;
  left: 37.4vw;
  top: 40px;
  right: auto;
  bottom: 0;
  z-index: 0;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*
> 3. Carousel
*/

.c-carousel2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.padding-top-quad {
  padding-top: 96px;
}

.c-tabslider1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.block-decoration {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 50vw;
  height: 670px;
  background-image: url('https://via.placeholder.com/1000x600.png?text=IMAGE');
  background-position: 0;
  background-size: auto;
}

.offcanvas-menu-item-wrapper {
  overflow: hidden;
}

.weight-is-black {
  font-weight: 900;
}

.rich-text p {
  margin-bottom: 32px;
}

.rich-text a:hover {
  border-bottom: 1px solid #30C47E;
}

.rich-text img {
  margin-bottom: 8px;
}

.rich-text ul {
  margin-bottom: 32px;
  padding-left: 40px;
  list-style-type: disc;
}

.rich-text li {
  padding-left: 0;
  background-image: none;
}

.rich-text ol {
  margin-bottom: 32px;
}

.rich-text blockquote {
  margin-top: 64px;
  margin-bottom: 64px;
  padding-right: 40px;
  padding-left: 40px;
  border-left-style: none;
  background-image: url('https://via.placeholder.com/1000x600.png?text=IMAGE');
  background-position: 100% 100%, 0 0;
  background-size: 32px, 32px;
  background-repeat: no-repeat, no-repeat;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 100;
}

.rich-text figcaption {
  margin-bottom: 32px;
  color: #a1a1a1;
  font-size: 14px;
}

.rich-text figure {
  margin-bottom: 32px;
}

.c-checklist {
  padding-left: 0;
  list-style-type: none;
}

.c-checklist.padding-left {
  padding-left: 32px;
}

.full-half-block {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
  height: 100%;
  background-image: url('https://via.placeholder.com/1000x600.png?text=IMAGE');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.asterisk {
  color: #eb0000;
  font-size: 16px;
  font-weight: 200;
}

.form-textarea {
  min-height: 200px;
  margin-bottom: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 5px;
}

.form-textarea:focus {
  border-color: #30C47E;
}

.form-select {
  height: 48px;
  margin-bottom: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
}

.form-select:focus {
  border-color: #30C47E;
}

.header-content-wrapper {
  padding: 40px;
  background-color: #fff;
}

.c-quote {
  position: relative;
}

.plain-list {
  padding-left: 0;
  list-style-type: none;
}

.shift-up-quad {
  margin-bottom: 96px;
}

.no-padding-top {
  padding-top: 0;
}

.c-grid-vacancy {
  grid-column-gap: 0;
  -ms-grid-columns: 1fr 0.5fr 0.5fr;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.is-rounded {
  border-radius: 50%;
}

.c-paging {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.overflow-left {
  position: absolute;
  right: 50%;
}

.overflow-left.align-lg-2 {
  width: 50vw;
  -webkit-transform: translate(-360px, 0);
  -ms-transform: translate(-360px, 0);
  transform: translate(-360px, 0);
}

.fa-solid {
  font-family: 'Fa solid 900', sans-serif;
}

.non-italize {
  font-style: normal;
}

.all-category {
  color: #333;
  font-size: 23px;
}

.email-footer {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.41);
}

.email-footer:hover {
  color: #30C47E;
}

.phone-footer:hover {
  color: #30C47E;
}

.c-filterable-grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(auto, 1fr);
  grid-template-rows: minmax(auto, 1fr);
}

.lg-text-align-right {
  text-align: right;
}


.text-block {
  padding: 32px;
}

.icon-wrapper {
  margin-right: 8px;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffe987;
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.asasfont {
  font-family: Asas, sans-serif;
}

.asasfont.is-divider {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 0;
  color: #333;
  font-size: 5000px;
  line-height: 0.998;
}

.opacity-20 {
  opacity: 0.2;
}

.paragraph {
  color: #fff;
}

.c-gridgallery1 {
  grid-column-gap: 48px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(330px, 1fr);
  grid-template-rows: minmax(330px, 1fr);
}

.link-block {
  position: relative;
  overflow: hidden;
}


.text-block-2 {
  padding-top: 0;
  padding-bottom: 24px;
}

.c-decoration-right {
  position: absolute;
  left: 50vw;
  top: 33px;
  bottom: auto;
  overflow: hidden;
  width: 50vw;
  height: 910px;
}

.c-decoration-left {
  position: absolute;
  left: auto;
  top: 0;
  right: 50vw;
  bottom: auto;
  width: 50vw;
  height: 770px;
}


.form-input-text-2 {
  height: 48px;
  margin-bottom: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 5px;
}

.form-input-text-2:focus {
  border-color: #866adb;
}

.c-cart {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.c-navbar-icon {
  margin-right: 8px;
  margin-left: 8px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Fa solid 900', sans-serif;
  color: #556575;
}

.c-navbar-icon:hover {
  color: #30C47E;
}

.logo-image-2 {
  margin-right: 8px;
  color: #866adb;
}

.brand-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.brand-2.justify-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.logotype-2 {
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  color: #1d2b36;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.text-align-left {
  text-align: left;
}

.is-heading-color {
  color: #1d2b36;
}

.c-shadowing-text.is-smaller {
  font-size: 160px;
}

.c-step {
  font-size: 180px;
  line-height: 1;
  font-weight: 900;
}

.c-grid-services {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.c-grid-services__item {
  padding: 40px;
  background-color: #fff;
  box-shadow: 8px 8px 65px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 700ms cubic-bezier(.19, 1, .22, 1);
  transition: box-shadow 700ms cubic-bezier(.19, 1, .22, 1);
}

.c-grid-services__item:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.c-grid-services__item.bg-white {
  background-color: #fff;
}

.c-grid-services__item.bg-light-accent {
  background-color: #f7f7f7;
}

.img-background {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.5;
}

.image {
  opacity: 0.1;
}

.c-grid-portfolio {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-2 {
  padding-top: 104px;
  padding-bottom: 48px;
}

.c-overlay-widget {
  position: absolute;
  left: -40px;
  top: 30%;
  right: auto;
  bottom: auto;
  z-index: 9;
  width: 400px;
  padding: 96px 64px 32px;
  background-color: #fff;
}

.c-overlay-widget.has-shadow.position-relative.z-index10 {
  z-index: 10;
}

.quotemark2 {
  color: #e0e0e0;
  font-size: 100px;
  line-height: 0;
}

.c-header-image {
  position: absolute;
  left: auto;
  top: -77%;
  right: 0;
  bottom: 0;
  width: 150vw;
  max-width: none;
  opacity: 0.66;
}

.size-h1 {
  font-size: 65px;
  line-height: 1;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 300px;
  height: 300px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.c-grid-item {
  position: relative;
  overflow: hidden;
}

.filter-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-grid-item__text {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-grid-item__text.is-dark {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.66);
}

.fullwidth-image-601 {
  height: 600px;
  background-image: url('https://via.placeholder.com/1000x600.png?text=IMAGE');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .col {
    margin-bottom: 24px;
  }
  .col.lg-6.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-6.md-12.order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col.lg-6.no-margin-bottom.md-12.md-order-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .col.lg-3.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-3.md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .col.lg-4 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col.lg-4.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-4.md-12.md-order-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right {
    padding-right: 24px;
  }
  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right.grow {
    -webkit-box-flex: 0;
    -webkit-flex: 0 59%;
    -ms-flex: 0 59%;
    flex: 0 59%;
  }

  .col.lg-4.no-margin-bottom.position-absolute-md {
    position: absolute;
  }
  .col.lg-4.md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .col.lg-1-5.md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .col.lg-1-5.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .col.lg-2.md-4 {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
  .col.lg-2.md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
  .col.lg-2.md-12.md-order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col.lg-2.no-margin-bottom.no-padding-left.md-4.order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }


  .col.lg-10.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-9.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-8.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .col.lg-7.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-5.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-5.md-12.order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col.lg-5.md-12.md-order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col.lg-1 {
    -webkit-flex-basis: 7%;
    -ms-flex-preferred-size: 7%;
    flex-basis: 7%;
  }
  .col.lg-1.md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .col.md-order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .heading-alpha {
    font-size: 52px;
  }
  .heading-beta {
    font-size: 52px;
  }

  .section.position-relative.has-top-divider {
    padding-top: 160px;
  }

  .margin-left.prev {
    margin-left: 8px;
  }

  .bg-divider {
    -webkit-transform: translate(71px, 0);
    -ms-transform: translate(71px, 0);
    transform: translate(71px, 0);
  }
  .block-centered.img {
    width: 100%;
  }
  .margin-bottom-quad {
    margin-bottom: 48px;
  }
  .flexh-justify-end.md-flexh-justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .offcanvas-menu-list {
    z-index: 9999;
  }
  .md-order-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .c-team1__info {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-basis: 120px;
    -ms-flex-preferred-size: 120px;
    flex-basis: 120px;
  }
  .c-team1__name {
    position: static;
  }
  .c-team1__social {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .c-team4 {
    padding-top: 80px;
    padding-bottom: 48px;
  }
  .c-team4.bg-accent.is-first {
    padding-top: 80px;
  }

  .quote.style3 {
    padding-left: 0;
  }

  .lg-margin-right {
    margin-right: 0;
  }
  .c-grid1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: minmax(0px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr);
    grid-template-rows: minmax(0px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr);
  }
  .c-grid2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .c-grid3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .c-contact1 {
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .display-only-lg {
    display: none;
  }
  .c-tabslider1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .block-decoration {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
  }

  .rich-text p {
    margin-bottom: 16px;
  }
  .rich-text blockquote {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .full-half-block {
    position: static;
    width: auto;
    height: 350px;
  }
  .position-static-md {
    position: static;
  }

  .shift-up-quad {
    bottom: 0;
    margin-bottom: 0;
  }

  .md-no-padding-top {
    padding-top: 0;
  }

  .md-is-wrapping {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .md-text-align-center {
    text-align: center;
  }
  .lg-text-align-right {
    text-align: left;
  }

  .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 25%;
    -ms-flex: 0 25%;
    flex: 0 25%;
  }
  .md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 91.63%;
    -ms-flex: 0 91.63%;
    flex: 0 91.63%;
  }
  .md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 16.66%;
    -ms-flex: 0 16.66%;
    flex: 0 16.66%;
  }
  .md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 83.33%;
    -ms-flex: 0 83.33%;
    flex: 0 83.33%;
  }
  .md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 75%;
    -ms-flex: 0 75%;
    flex: 0 75%;
  }
  .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 33.33%;
    -ms-flex: 0 33.33%;
    flex: 0 33.33%;
  }
  .md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 66.66%;
    -ms-flex: 0 66.66%;
    flex: 0 66.66%;
  }
  .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 41.66%;
    -ms-flex: 0 41.66%;
    flex: 0 41.66%;
  }
  .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 58.34%;
    -ms-flex: 0 58.34%;
    flex: 0 58.34%;
  }
  .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
  }
  .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
  .c-decoration-right {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  .c-decoration-left {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  .brand-2 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .c-shadowing-text.is-smaller {
    font-size: 56px;
  }
  .c-grid-services {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .section-2 {
    padding-top: 48px;
    padding-bottom: 24px;
  }
  .c-overlay-widget.has-shadow {
    position: static;
    width: 100%;
  }
  .c-overlay-widget.has-shadow.position-relative {
    position: static;
    width: 100%;
  }

}

@media (max-width: 767px) {

  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right.grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .section.position-relative.has-top-divider {
    padding-top: 96px;
  }
  .bg-divider {
    left: auto;
    right: auto;
    display: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .bg-divider.style1 {
    display: block;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .burger-menu-icon {
    min-width: 22px;
  }
  .quote.style5 {
    font-size: 23px;
  }

  .sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 8.33%;
    -ms-flex: 0 8.33%;
    flex: 0 8.33%;
  }

  .c-shadowing-text.is-smaller {
    margin-bottom: 0;
  }
  .c-grid-services {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .c-grid-portfolio {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .filter-menu-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 479px) {
  .col.lg-6.xs-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }

  .col.lg-3.md-6.xs-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-center.position-absolute-md {
    position: absolute;
  }

  .col.lg-4.no-margin-bottom.xs-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .col.lg-4.md-6.xs-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-1-5.md-6.xs-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .col.lg-2.md-4.xs-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .col.lg-10.no-margin-bottom.xs-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .heading-beta {
    font-size: 52px;
  }

  .button-primary {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }

  .extra-menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .offcanvas-overlay {
    display: none;
  }
  .burger-menu-icon {
    min-width: 22px;
  }

  .quote {
    padding-right: 0;
    padding-left: 0;
    font-size: 24px;
  }

  .rich-text blockquote {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 36px;
  }

  .c-gridgallery1 {
    grid-row-gap: 48px;
  }

  .logo-image-2 {
    min-width: 35px;
  }

  .c-grid-portfolio {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
