/* 208/280 base rules are converted successfully. */
/* Gather results from the console with `copy(window.cssToTailwindResults)` */

/* ℹ️ Base selector: .w-layout-grid */
/* ✨ TailwindCSS: "grid" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.w-layout-grid {
  @apply grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

/* ℹ️ Base selector: .heading-alpha */
/* ✨ TailwindCSS: "text-5xl" */

/* ℹ️ Base selector: .centered */
/* ✨ TailwindCSS: "flex items-center justify-center" */

/* ℹ️ Base selector: body */
/* ✨ TailwindCSS: "text-base leading-normal" */

/* ℹ️ Base selector: h1 */
/* ✨ TailwindCSS: "font-bold text-5xl mt-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
h1 {
  @apply font-bold text-5xl mt-0;
  line-height: 1.15;
}

/* ℹ️ Base selector: h2 */
/* ✨ TailwindCSS: "font-bold text-4xl leading-tight mt-0" */

/* ℹ️ Base selector: h3 */
/* ✨ TailwindCSS: "font-bold text-2xl mt-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
h3 {
  @apply font-bold text-2xl mt-0;
  line-height: 1.35;
}

/* ℹ️ Base selector: h4 */
/* ✨ TailwindCSS: "font-bold text-base leading-normal mt-0" */

/* ℹ️ Base selector: img */
/* ✨ TailwindCSS: "inline-block max-w-full" */

/* ℹ️ Base selector: strong */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .container */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .container.position-relative */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .container.is-wide */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col */
/* ✨ TailwindCSS: "mb-6" */

/* ℹ️ Base selector: .col.lg-12 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.col.lg-12 {
  @apply flex-grow-0;
  flex-basis: 100%;
}

/* ℹ️ Base selector: .col.lg-6 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.col.lg-6 {
  @apply flex-grow-0;
  flex-basis: 50%;
}

/* ℹ️ Base selector: .col.lg-4 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-8 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.col.lg-8 {
  @apply flex-grow-0;
  flex-basis: 66.6666%;
}

/* ℹ️ Base selector: .col.lg-7 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.col.lg-7 {
  @apply flex-grow-0;
  flex-basis: 58.333%;
}

/* ℹ️ Base selector: .col.lg-5 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-1 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.no-margin-bottom */
/* ✨ TailwindCSS: "mb-0" */

/* ℹ️ Base selector: .pre-title */
/* ✨ TailwindCSS: "font-bold text-sm mb-2 text-black" */

/* ℹ️ Base selector: .text-medium */
/* ✨ TailwindCSS: "text-xl" */

/* ℹ️ Base selector: .section */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .section.is-header.header-image */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .legend */
/* ✨ TailwindCSS: "inline-block m-0 italic" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.legend {
  @apply inline-block m-0 italic;
  background-color: rgba(254, 255, 192, 1);
}

/* ℹ️ Base selector: .margin-bottom */
/* ✨ TailwindCSS: "mb-6" */

/* ℹ️ Base selector: .margin-bottom.is-bold */
/* ✨ TailwindCSS: "font-bold" */

/* ℹ️ Base selector: .no-padding-trbl */
/* ✨ TailwindCSS: "p-0" */

/* ℹ️ Base selector: .no-margin-trbl */
/* ✨ TailwindCSS: "m-0" */

/* ℹ️ Base selector: .no-padding-lr */
/* ✨ TailwindCSS: "px-0" */

/* ℹ️ Base selector: .padding-left */
/* ✨ TailwindCSS: "pl-6" */

/* ℹ️ Base selector: .padding-right */
/* ✨ TailwindCSS: "pr-6" */

/* ℹ️ Base selector: .button-primary */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.button-primary {
  @apply flex-grow-0;
  flex-basis: 100%;
}

/* ℹ️ Base selector: .button-primary.is-small */
/* ✨ TailwindCSS: "py-3 px-6" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.button-primary.is-small {
  @apply py-3 px-6;
  min-width: 140px;
  background-color: rgba(48, 196, 126, 1);
  font-size: 11px;
}

/* ℹ️ Base selector: .button-primary.is-small.order-last */
/* ✨ TailwindCSS: "order-1" */

/* ℹ️ Base selector: .button-primary.is-dark */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .button-primary.is-floating */
/* ✨ TailwindCSS: "absolute inset-y-0 right-0" */

/* ℹ️ Base selector: .button-primary.is-circle */
/* ✨ TailwindCSS: "flex items-center justify-center h-24 min-w-0 p-0 w-24" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.button-primary.is-circle {
  @apply flex items-center justify-center h-24 min-w-0 p-0 w-24;
  border-radius: 50%;
}

/* ℹ️ Base selector: .button-primary-text */
/* ✨ TailwindCSS: "block text-center tracking-widest" */

/* ℹ️ Base selector: .button-primary-text.for-hover */
/* ✨ TailwindCSS: "hidden absolute inset-x-0 w-full" */

/* ℹ️ Base selector: .round-border */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-2 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .navbar-container */
/* ✨ TailwindCSS: "flex items-center justify-between mx-0 max-w-full px-6" */

/* ℹ️ Base selector: .logotype */
/* ✨ TailwindCSS: "text-xl mb-0" */

/* ℹ️ Base selector: .brand */
/* ✨ TailwindCSS: "flex items-center self-center flex-none" */

/* ℹ️ Base selector: .brand.order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .order-last */
/* ✨ TailwindCSS: "order-1" */

/* ℹ️ Base selector: .extra-menu */
/* ✨ TailwindCSS: "flex-wrap" */

/* ℹ️ Base selector: .extra-menu-link */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .logo-image */
/* ✨ TailwindCSS: "mr-2" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.logo-image {
  @apply mr-2;
  color: rgba(48, 196, 126, 1);
}

/* ℹ️ Base selector: .no-padding-left */
/* ✨ TailwindCSS: "pl-0" */

/* ℹ️ Base selector: .menu-and-logo-container */
/* ✨ TailwindCSS: "flex items-center" */

/* ℹ️ Base selector: .menu-and-logo-container.order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .fa */
/* ✨ TailwindCSS: "text-xs" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.fa {
  @apply text-xs;
  font-family: "Fa solid 900", sans-serif;
}

/* ℹ️ Base selector: .fa.fa-link */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .cta-link */
/* ✨ TailwindCSS: "flex items-center font-normal" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.cta-link {
  @apply flex items-center font-normal;
  color: rgba(48, 196, 126, 1);
}

/* ℹ️ Base selector: .cta-link.text-align-center */
/* ✨ TailwindCSS: "justify-center" */

/* ℹ️ Base selector: .padding-double */
/* ✨ TailwindCSS: "p-12" */

/* ℹ️ Base selector: .text-xlarge */
/* ✨ TailwindCSS: "text-3xl leading-tight" */

/* ℹ️ Base selector: .text-xlarge.font-weight-light */
/* ✨ TailwindCSS: "font-light" */

/* ℹ️ Base selector: .flexv-justify-end */
/* ✨ TailwindCSS: "flex flex-col justify-end" */

/* ℹ️ Base selector: .position-absolute */
/* ✨ TailwindCSS: "absolute" */

/* ℹ️ Base selector: .position-absolute.h100.pos-full */
/* ✨ TailwindCSS: "inset-0" */

/* ℹ️ Base selector: .position-absolute.h100.pos-full.bg-surabaya */
/* ✨ TailwindCSS: "bg-no-repeat" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.position-absolute.h100.pos-full.bg-surabaya {
  @apply bg-no-repeat;
  background-image: url(https://via.placeholder.com/1000x600.png?text=IMAGE);
  background-size: 4000px;
}

/* ℹ️ Base selector: .bg-color */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .bg-divider */
/* ✨ TailwindCSS: "hidden transform-none" */

/* ℹ️ Base selector: .bg-divider.style1 */
/* ✨ TailwindCSS: "block h-full transform-none" */

/* ℹ️ Base selector: .flexv-justify-center */
/* ✨ TailwindCSS: "flex flex-col justify-center" */

/* ℹ️ Base selector: .flexv-space-between */
/* ✨ TailwindCSS: "flex flex-col justify-between" */

/* ℹ️ Base selector: .flexv-space-between.h100 */
/* ✨ TailwindCSS: "h-full" */

/* ℹ️ Base selector: .align-bottom */
/* ✨ TailwindCSS: "self-end" */

/* ℹ️ Base selector: .form-input-text */
/* ✨ TailwindCSS: "rounded border-solid border flex-grow-0 h-12 mb-6" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.form-input-text {
  @apply rounded border-solid border flex-grow-0 h-12 mb-6;
  flex-basis: auto;
  border-color: rgba(224, 224, 224, 1);
}
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
focus:
	border-color: rgba(48, 196, 126, 1);
*/

/* ℹ️ Base selector: .form-input-text.is-grey */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .form-input-text.style1 */
/* ✨ TailwindCSS: "rounded-none border-none border-b-2 text-xl pl-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.form-input-text.style1 {
  @apply rounded-none border-none border-b-2 text-xl pl-0;
  border-color: hsla(0, 0%, 60.7%, 0.7);
}
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
focus:
	border-bottom-width: 2px;
  	border-style: solid;
  	border-color: rgba(48, 196, 126, 1);
placeholder:
	font-size: 16px;
*/

/* ℹ️ Base selector: .form-input-text.textarea */
/* ✨ TailwindCSS: "h-48" */

/* ℹ️ Base selector: .form-input-text.style2 */
/* ✨ TailwindCSS: "bg-white border-white border-solid" */

/* ℹ️ Base selector: .form-input-text.style3 */
/* ✨ TailwindCSS: "border-none h-12 mb-2 pl-8 pr-48" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.form-input-text.style3 {
  @apply border-none h-12 mb-2 pl-8 pr-48;
  border-radius: 40px;
  box-shadow: 0 20px 64px 0 rgba(0, 0, 0, 0.24);
}

/* ℹ️ Base selector: .form-label */
/* ✨ TailwindCSS: "font-semibold" */

/* ℹ️ Base selector: .form-checkbox */
/* ✨ TailwindCSS: "border-black border-none border text-base mr-4 mb-8" */

/* ℹ️ Base selector: .float-right */
/* ✨ TailwindCSS: "float-right" */

/* ℹ️ Base selector: .no-margin-bottom */
/* ✨ TailwindCSS: "mb-0" */

/* ℹ️ Base selector: .block-centered */
/* ✨ TailwindCSS: "block mx-auto" */

/* ℹ️ Base selector: .block-centered.img */
/* ✨ TailwindCSS: "w-full" */

/* ℹ️ Base selector: .overflow-hidden */
/* ✨ TailwindCSS: "overflow-hidden" */

/* ℹ️ Base selector: .text-align-center */
/* ✨ TailwindCSS: "text-center" */

/* ℹ️ Base selector: .margin-bottom-quad */
/* ✨ TailwindCSS: "mb-12" */

/* ℹ️ Base selector: .flexh-justify-end */
/* ✨ TailwindCSS: "flex justify-end" */

/* ℹ️ Base selector: .no-padding-right */
/* ✨ TailwindCSS: "pr-0" */

/* ℹ️ Base selector: .fa-brand */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .padding-right-small */
/* ✨ TailwindCSS: "pr-2" */

/* ℹ️ Base selector: .text-small */
/* ✨ TailwindCSS: "text-sm" */

/* ℹ️ Base selector: .text-small.is-bold */
/* ✨ TailwindCSS: "font-semibold" */

/* ℹ️ Base selector: .hr */
/* ✨ TailwindCSS: "h-px" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.hr {
  @apply h-px;
  background-color: rgba(51, 51, 51, 0.2);
}

/* ℹ️ Base selector: .hr.is-light */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .hr.is-on-white */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .hr.is-short */
/* ✨ TailwindCSS: "h-1 w-8" */

/* ℹ️ Base selector: .size-h1-title */
/* ✨ TailwindCSS: "font-bold text-5xl" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.size-h1-title {
  @apply font-bold text-5xl;
  line-height: 1.3;
}

/* ℹ️ Base selector: .size-h2-title */
/* ✨ TailwindCSS: "font-bold text-3xl" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.size-h2-title {
  @apply font-bold text-3xl;
  line-height: 1.3;
}

/* ℹ️ Base selector: .size-h3-title */
/* ✨ TailwindCSS: "font-semibold text-3xl leading-normal" */

/* ℹ️ Base selector: .size-h1 */
/* ✨ TailwindCSS: "leading-none" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.size-h1 {
  @apply leading-none;
  font-size: 65px;
}

/* ℹ️ Base selector: .size-h2 */
/* ✨ TailwindCSS: "font-bold text-4xl" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.size-h2 {
  @apply font-bold text-4xl;
  line-height: 1.2;
}

/* ℹ️ Base selector: .size-h3 */
/* ✨ TailwindCSS: "font-bold text-2xl" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.size-h3 {
  @apply font-bold text-2xl;
  line-height: 1.3;
}

/* ℹ️ Base selector: .offcanvas-menu-list */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .offcanvas-menu-item */
/* ✨ TailwindCSS: "block font-black text-5xl" */

/* ℹ️ Base selector: .offcanvas-overlay */
/* ✨ TailwindCSS: "hidden" */

/* ℹ️ Base selector: .c-pricing */
/* ✨ TailwindCSS: "bg-white rounded-sm h-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-pricing {
  @apply bg-white rounded-sm h-full;
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.07);
}

/* ℹ️ Base selector: .c-pricing.h100 */
/* ✨ TailwindCSS: "h-full" */

/* ℹ️ Base selector: .tab-link */
/* ✨ TailwindCSS: "border-black border-solid border-b mx-2 px-4" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.tab-link {
  @apply border-black border-solid border-b mx-2 px-4;
  background-color: rgba(199, 199, 199, 1);
}

/* ℹ️ Base selector: .tab-link.w--current */
/* ✨ TailwindCSS: "border-solid border-b-2 mx-2" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.tab-link.w--current {
  @apply border-solid border-b-2 mx-2;
  border-color: rgba(48, 196, 126, 1);
  background-color: rgba(199, 199, 199, 1);
  color: rgba(48, 196, 126, 1);
}

/* ℹ️ Base selector: .c-pricing-price2 */
/* ✨ TailwindCSS: "font-black text-5xl" */

/* ℹ️ Base selector: .h100 */
/* ✨ TailwindCSS: "h-full" */

/* ℹ️ Base selector: .tab-link-block */
/* ✨ TailwindCSS: "border-black border-solid border" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.tab-link-block {
  @apply border-black border-solid border;
  background-color: rgba(219, 219, 219, 1);
}

/* ℹ️ Base selector: .tab-link-block.w--current */
/* ✨ TailwindCSS: "border-none text-white" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.tab-link-block.w--current {
  @apply border-none text-white;
  background-color: rgba(48, 196, 126, 1);
}

/* ℹ️ Base selector: .tab-link-block.is-last-tab */
/* ✨ TailwindCSS: "border-none border" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.tab-link-block.is-last-tab {
  @apply border-none border;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* ℹ️ Base selector: .tab-link-block.is-first-tab */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .is-bold */
/* ✨ TailwindCSS: "font-bold" */

/* ℹ️ Base selector: .grid-pricing-1 */
/* ✨ TailwindCSS: "overflow-scroll grid-flow-col" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.grid-pricing-1 {
  @apply overflow-scroll grid-flow-col;
  min-width: 1150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

/* ℹ️ Base selector: .create-grid-space */
/* ✨ TailwindCSS: "border-black border-solid border-b block px-6 pb-5 w-full" */

/* ℹ️ Base selector: .padding */
/* ✨ TailwindCSS: "p-6" */

/* ℹ️ Base selector: .success-message */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-team1__info */
/* ✨ TailwindCSS: "justify-start" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-team1__info {
  @apply justify-start;
  flex-basis: 120px;
}

/* ℹ️ Base selector: .c-team1__name */
/* ✨ TailwindCSS: "static" */

/* ℹ️ Base selector: .c-team1__social */
/* ✨ TailwindCSS: "justify-start" */

/* ℹ️ Base selector: .c-team4 */
/* ✨ TailwindCSS: "pb-12 pt-20" */

/* ℹ️ Base selector: .c-team4.bg-accent.is-first */
/* ✨ TailwindCSS: "pt-20" */

/* ℹ️ Base selector: .quote */
/* ✨ TailwindCSS: "text-2xl px-0" */

/* ℹ️ Base selector: .quote.style2 */
/* ✨ TailwindCSS: "font-normal text-2xl" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.quote.style2 {
  @apply font-normal text-2xl;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* ℹ️ Base selector: .quote.style3 */
/* ✨ TailwindCSS: "pl-0" */

/* ℹ️ Base selector: .quote.style5 */
/* ✨ TailwindCSS: "text-2xl" */

/* ℹ️ Base selector: .lg-margin-right */
/* ✨ TailwindCSS: "mr-0" */

/* ℹ️ Base selector: .c-grid1 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-grid1.no-gap */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .dummy-image1 */
/* ✨ TailwindCSS: "bg-no-repeat bg-cover" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.dummy-image1 {
  @apply bg-no-repeat bg-cover;
  background-image: url(https://via.placeholder.com/1000x600.png?text=IMAGE);
  background-position: 50% 50%;
}

/* ℹ️ Base selector: .c-grid2 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-grid3 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .margin-top */
/* ✨ TailwindCSS: "mt-8" */

/* ℹ️ Base selector: .margin-top-negative */
/* ✨ TailwindCSS: "-mt-4" */

/* ℹ️ Base selector: .c-contact1 */
/* ✨ TailwindCSS: "flex-col left-0" */

/* ℹ️ Base selector: .fa-regular */
/* ✨ TailwindCSS: "text-lg text-white" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.fa-regular {
  @apply text-lg text-white;
  font-family: "Fa 400", sans-serif;
}

/* ℹ️ Base selector: .blob-dummy */
/* ✨ TailwindCSS: "absolute bottom-0 z-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.blob-dummy {
  @apply absolute bottom-0 z-0;
  left: 37.4vw;
  top: 40px;
  opacity: 0.8;
  transform: rotate(0deg);
}

/* ℹ️ Base selector: .c-carousel2 */
/* ✨ TailwindCSS: "flex h-auto overflow-hidden" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-carousel2 {
  @apply flex h-auto overflow-hidden;
  background-color: rgba(219, 219, 219, 1);
}

/* ℹ️ Base selector: .padding-top-quad */
/* ✨ TailwindCSS: "pt-24" */

/* ℹ️ Base selector: .c-tabslider1 */
/* ✨ TailwindCSS: "flex-col" */

/* ℹ️ Base selector: .block-decoration */
/* ✨ TailwindCSS: "inset-0 w-screen" */

/* ℹ️ Base selector: .offcanvas-menu-item-wrapper */
/* ✨ TailwindCSS: "overflow-hidden" */

/* ℹ️ Base selector: .weight-is-black */
/* ✨ TailwindCSS: "font-black" */

/* ℹ️ Base selector: .rich-text p */
/* ✨ TailwindCSS: "mb-4" */

/* ℹ️ Base selector: .rich-text img */
/* ✨ TailwindCSS: "mb-2" */

/* ℹ️ Base selector: .rich-text ul */
/* ✨ TailwindCSS: "list-disc mb-8 pl-10" */

/* ℹ️ Base selector: .rich-text li */
/* ✨ TailwindCSS: "bg-none pl-0" */

/* ℹ️ Base selector: .rich-text ol */
/* ✨ TailwindCSS: "mb-8" */

/* ℹ️ Base selector: .rich-text blockquote */
/* ✨ TailwindCSS: "text-4xl px-4" */

/* ℹ️ Base selector: .rich-text figcaption */
/* ✨ TailwindCSS: "text-sm mb-8" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.rich-text figcaption {
  @apply text-sm mb-8;
  color: rgba(161, 161, 161, 1);
}

/* ℹ️ Base selector: .rich-text figure */
/* ✨ TailwindCSS: "mb-8" */

/* ℹ️ Base selector: .c-checklist */
/* ✨ TailwindCSS: "list-none pl-0" */

/* ℹ️ Base selector: .c-checklist.padding-left */
/* ✨ TailwindCSS: "pl-8" */

/* ℹ️ Base selector: .full-half-block */
/* ✨ TailwindCSS: "static w-auto" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.full-half-block {
  @apply static w-auto;
  height: 350px;
}

/* ℹ️ Base selector: .asterisk */
/* ✨ TailwindCSS: "font-thin text-base" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.asterisk {
  @apply font-thin text-base;
  color: rgba(235, 0, 0, 1);
}

/* ℹ️ Base selector: .form-textarea */
/* ✨ TailwindCSS: "rounded border-solid border mb-6" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.form-textarea {
  @apply rounded border-solid border mb-6;
  min-height: 200px;
  border-color: rgba(224, 224, 224, 1);
}
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
focus:
	border-color: rgba(48, 196, 126, 1);
*/

/* ℹ️ Base selector: .form-select */
/* ✨ TailwindCSS: "bg-white rounded border-solid border h-12 mb-6" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.form-select {
  @apply bg-white rounded border-solid border h-12 mb-6;
  border-color: rgba(224, 224, 224, 1);
}
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
focus:
	border-color: rgba(48, 196, 126, 1);
*/

/* ℹ️ Base selector: .header-content-wrapper */
/* ✨ TailwindCSS: "bg-white p-10" */

/* ℹ️ Base selector: .c-quote */
/* ✨ TailwindCSS: "relative" */

/* ℹ️ Base selector: .plain-list */
/* ✨ TailwindCSS: "list-none pl-0" */

/* ℹ️ Base selector: .shift-up-quad */
/* ✨ TailwindCSS: "mb-0 bottom-0" */

/* ℹ️ Base selector: .no-padding-top */
/* ✨ TailwindCSS: "pt-0" */

/* ℹ️ Base selector: .c-grid-vacancy */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .is-rounded */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-paging */
/* ✨ TailwindCSS: "flex items-center" */

/* ℹ️ Base selector: .overflow-left */
/* ✨ TailwindCSS: "absolute" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.overflow-left {
  @apply absolute;
  right: 50%;
}

/* ℹ️ Base selector: .overflow-left.align-lg-2 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .fa-solid */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .non-italize */
/* ✨ TailwindCSS: "not-italic" */

/* ℹ️ Base selector: .all-category */
/* ✨ TailwindCSS: "text-2xl" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.all-category {
  @apply text-2xl;
  color: rgba(51, 51, 51, 1);
}

/* ℹ️ Base selector: .email-footer */
/* ✨ TailwindCSS: "border-white border-solid border-b" */
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
hover:
	color: rgba(48, 196, 126, 1);
*/

/* ℹ️ Base selector: .c-filterable-grid */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .lg-text-align-right */
/* ✨ TailwindCSS: "text-left" */

/* ℹ️ Base selector: .text-block */
/* ✨ TailwindCSS: "p-8" */

/* ℹ️ Base selector: .icon-wrapper */
/* ✨ TailwindCSS: "mr-2 p-4 text-center" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.icon-wrapper {
  @apply mr-2 p-4 text-center;
  border-radius: 50%;
  background-color: rgba(255, 233, 135, 1);
}

/* ℹ️ Base selector: .inline-block */
/* ✨ TailwindCSS: "inline-block" */

/* ℹ️ Base selector: .asasfont */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .asasfont.is-divider */
/* ✨ TailwindCSS: "absolute top-0 right-0 z-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.asasfont.is-divider {
  @apply absolute top-0 right-0 z-0;
  color: rgba(51, 51, 51, 1);
  font-size: 5000px;
  line-height: 0.998;
}

/* ℹ️ Base selector: .opacity-20 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .paragraph */
/* ✨ TailwindCSS: "text-white" */

/* ℹ️ Base selector: .c-gridgallery1 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .link-block */
/* ✨ TailwindCSS: "overflow-hidden relative" */

/* ℹ️ Base selector: .text-block-2 */
/* ✨ TailwindCSS: "pt-0 pb-6" */

/* ℹ️ Base selector: .c-decoration-right */
/* ✨ TailwindCSS: "h-auto mb-6 static w-full" */

/* ℹ️ Base selector: .c-decoration-left */
/* ✨ TailwindCSS: "h-auto mb-6 static w-full" */

/* ℹ️ Base selector: .form-input-text-2 */
/* ✨ TailwindCSS: "rounded border-solid border flex-grow-0 h-12 mb-6" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.form-input-text-2 {
  @apply rounded border-solid border flex-grow-0 h-12 mb-6;
  flex-basis: auto;
  border-color: rgba(224, 224, 224, 1);
}
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
focus:
	border-color: rgba(134, 106, 219, 1);
*/

/* ℹ️ Base selector: .c-cart */
/* ✨ TailwindCSS: "cursor-pointer inline-block relative" */

/* ℹ️ Base selector: .c-navbar-icon */
/* ✨ TailwindCSS: "mx-2" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-navbar-icon {
  @apply mx-2;
  transition: color 200ms ease;
  font-family: "Fa solid 900", sans-serif;
  color: rgba(85, 101, 117, 1);
}
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
hover:
	color: rgba(48, 196, 126, 1);
*/

/* ℹ️ Base selector: .logo-image-2 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .brand-2 */
/* ✨ TailwindCSS: "justify-start" */

/* ℹ️ Base selector: .brand-2.justify-left */
/* ✨ TailwindCSS: "justify-start" */

/* ℹ️ Base selector: .logotype-2 */
/* ✨ TailwindCSS: "font-semibold text-base mb-0 uppercase" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.logotype-2 {
  @apply font-semibold text-base mb-0 uppercase;
  font-family: Montserrat, sans-serif;
  color: rgba(29, 43, 54, 1);
}

/* ℹ️ Base selector: .text-align-left */
/* ✨ TailwindCSS: "text-left" */

/* ℹ️ Base selector: .is-heading-color */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-shadowing-text.is-smaller */
/* ✨ TailwindCSS: "mb-0" */

/* ℹ️ Base selector: .c-step */
/* ✨ TailwindCSS: "font-black leading-none" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-step {
  @apply font-black leading-none;
  font-size: 180px;
}

/* ℹ️ Base selector: .c-grid-services */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-grid-services__item */
/* ✨ TailwindCSS: "bg-white p-10" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-grid-services__item {
  @apply bg-white p-10;
  box-shadow: 8px 8px 65px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 700ms cubic-bezier(0.19, 1, 0.22, 1);
}
/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
hover:
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
*/

/* ℹ️ Base selector: .c-grid-services__item.bg-white */
/* ✨ TailwindCSS: "bg-white" */

/* ℹ️ Base selector: .c-grid-services__item.bg-light-accent */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .img-background */
/* ✨ TailwindCSS: "opacity-50 absolute top-0 w-full" */

/* ℹ️ Base selector: .image */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-grid-portfolio */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .section-2 */
/* ✨ TailwindCSS: "pb-6 pt-12" */

/* ℹ️ Base selector: .c-overlay-widget */
/* ✨ TailwindCSS: "bg-white px-16 pb-8 pt-24 absolute" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-overlay-widget {
  @apply bg-white px-16 pb-8 pt-24 absolute;
  left: -40px;
  top: 30%;
  z-index: 9;
  width: 400px;
}

/* ℹ️ Base selector: .c-overlay-widget.has-shadow.position-relative.z-index10 */
/* ✨ TailwindCSS: "z-10" */

/* ℹ️ Base selector: .quotemark2 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .c-header-image */
/* ✨ TailwindCSS: "max-w-none absolute right-0 bottom-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-header-image {
  @apply max-w-none absolute right-0 bottom-0;
  top: -77%;
  width: 150vw;
  opacity: 0.66;
}

/* ℹ️ Base selector: .preloader */
/* ✨ TailwindCSS: "block absolute" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.preloader {
  @apply block absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
}

/* ℹ️ Base selector: .c-grid-item */
/* ✨ TailwindCSS: "overflow-hidden relative" */

/* ℹ️ Base selector: .filter-menu-2 */
/* ✨ TailwindCSS: "flex-wrap" */

/* ℹ️ Base selector: .c-grid-item__text */
/* ✨ TailwindCSS: "flex flex-col items-center justify-center h-full absolute w-full" */

/* ℹ️ Base selector: .c-grid-item__text.is-dark */
/* ✨ TailwindCSS: "bg-black" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c-grid-item__text.is-dark {
  @apply bg-black;
  z-index: 4;
}

/* ℹ️ Base selector: .fullwidth-image-601 */
/* ✨ TailwindCSS: "bg-no-repeat bg-cover" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.fullwidth-image-601 {
  @apply bg-no-repeat bg-cover;
  height: 600px;
  background-image: url(https://via.placeholder.com/1000x600.png?text=IMAGE);
  background-position: 50% 50%;
}

/* ℹ️ Base selector: .col.lg-6.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-6.md-12.order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-6.no-margin-bottom.md-12.md-order-last */
/* ✨ TailwindCSS: "order-1" */

/* ℹ️ Base selector: .col.lg-3.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-3.md-6 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-4.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-4.md-12.md-order-last */
/* ✨ TailwindCSS: "order-1" */

/* ℹ️ Base selector: .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right */
/* ✨ TailwindCSS: "pr-6" */

/* ℹ️ Base selector: .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right.grow */
/* ✨ TailwindCSS: "flex-grow" */

/* ℹ️ Base selector: .col.lg-4.no-margin-bottom.position-absolute-md */
/* ✨ TailwindCSS: "absolute" */

/* ℹ️ Base selector: .col.lg-4.md-6 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-1-5.md-6 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-1-5.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-2.md-4 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-2.md-12 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.col.lg-2.md-12 {
  @apply flex-grow-0;
  flex-basis: 100%;
}

/* ℹ️ Base selector: .col.lg-2.md-12.md-order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-2.no-margin-bottom.no-padding-left.md-4.order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-10.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-9.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-8.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-7.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-5.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-5.md-12.order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-5.md-12.md-order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-1.md-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.md-order-first */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .heading-beta */
/* ✨ TailwindCSS: "text-5xl" */

/* ℹ️ Base selector: .section.position-relative.has-top-divider */
/* ✨ TailwindCSS: "pt-24" */

/* ℹ️ Base selector: .margin-left.prev */
/* ✨ TailwindCSS: "ml-2" */

/* ℹ️ Base selector: .flexh-justify-end.md-flexh-justify-start */
/* ✨ TailwindCSS: "justify-start" */

/* ℹ️ Base selector: .md-order-last */
/* ✨ TailwindCSS: "order-1" */

/* ℹ️ Base selector: .display-only-lg */
/* ✨ TailwindCSS: "hidden" */

/* ℹ️ Base selector: .position-static-md */
/* ✨ TailwindCSS: "static" */

/* ℹ️ Base selector: .md-no-padding-top */
/* ✨ TailwindCSS: "pt-0" */

/* ℹ️ Base selector: .md-is-wrapping */
/* ✨ TailwindCSS: "flex-wrap" */

/* ℹ️ Base selector: .md-text-align-center */
/* ✨ TailwindCSS: "text-center" */

/* ℹ️ Base selector: .md-3 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-3 {
  @apply flex-grow-0;
  flex-basis: 25%;
}

/* ℹ️ Base selector: .md-11 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-11 {
  @apply flex-grow-0;
  flex-basis: 91.63%;
}

/* ℹ️ Base selector: .md-2 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-2 {
  @apply flex-grow-0;
  flex-basis: 16.66%;
}

/* ℹ️ Base selector: .md-10 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-10 {
  @apply flex-grow-0;
  flex-basis: 83.33%;
}

/* ℹ️ Base selector: .md-9 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-9 {
  @apply flex-grow-0;
  flex-basis: 75%;
}

/* ℹ️ Base selector: .md-4 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-4 {
  @apply flex-grow-0;
  flex-basis: 33.33%;
}

/* ℹ️ Base selector: .md-8 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-8 {
  @apply flex-grow-0;
  flex-basis: 66.66%;
}

/* ℹ️ Base selector: .md-5 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-5 {
  @apply flex-grow-0;
  flex-basis: 41.66%;
}

/* ℹ️ Base selector: .md-7 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-7 {
  @apply flex-grow-0;
  flex-basis: 58.34%;
}

/* ℹ️ Base selector: .md-6 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-6 {
  @apply flex-grow-0;
  flex-basis: 50%;
}

/* ℹ️ Base selector: .md-12 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.md-12 {
  @apply flex-grow-0;
  flex-basis: 100%;
}

/* ℹ️ Base selector: .c-overlay-widget.has-shadow */
/* ✨ TailwindCSS: "static w-full" */

/* ℹ️ Base selector: .c-overlay-widget.has-shadow.position-relative */
/* ✨ TailwindCSS: "static w-full" */

/* ℹ️ Base selector: .burger-menu-icon */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .sm-1 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.sm-1 {
  @apply flex-grow-0;
  flex-basis: 8.33%;
}

/* ℹ️ Base selector: .col.lg-6.xs-12 */
/* ✨ TailwindCSS: "flex-grow-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.col.lg-6.xs-12 {
  @apply flex-grow-0;
  flex-basis: 100%;
}

/* ℹ️ Base selector: .col.lg-3.md-6.xs-12 */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .col.lg-4.no-margin-bottom.flexh-justify-center.position-absolute-md */
/* ✨ TailwindCSS: "absolute" */

